# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build directories
build/
dist/
*.egg-info/
